<table id="stocks" class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Quantity</th>
      <th class="text-center">Store</th>
      <th class="text-center">Buy Price</th>
      <th class="text-center">Sell Price</th>
      <th class="text-center">Show</th>
      <th class="text-center">Edit</th>
      <th class="text-center">Destroy</th>
    </tr>
    </thead>
    <tbody>
    <% @stocks.each do | stock | %>
      <tr>
        <td class="text-center"><%= "#{ stock.name }" %></td>
        <td class="text-center"><%= "#{ stock.quantity }" %></td>
        <td class="text-center"><%= "#{ stock.store.name }" %></td>
        <td class="text-center"><%= number_to_currency( stock.buy_price ) %></td>
        <td class="text-center"><%= number_to_currency( stock.sell_price ) %></td>
        <td class="text-center"><%= link_to "Show", stock_path( stock ), class: "btn btn-xs btn-success" %></td>
        <td class="text-center"><%= link_to "Edit", edit_stock_path( stock ), class: "btn btn-xs btn-warning" %></td>
        <td class="text-center"><%= link_to "Destroy", stock_path( stock ), method: :delete, class: "btn btn-xs btn-danger", data: { confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>