<div class="jumbotron dashboard">
  <h1>StockPile Dashboard</h1>
</div>

<div class="table-responsive">
  <table id="stocks" class="table table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Store</th>
      <th>Buy Price</th>
      <th>Sell Price</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
    </thead>
    <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= "#{ stock.name }" %></td>
        <td><%= "#{ stock.quantity }" %></td>
        <td><%= "#{ stock.store.name }" %></td>
        <td><%= "$#{ stock.buy_price }" %></td>
        <td><%= "$#{ stock.sell_price }" %></td>
        <td><%= link_to "Show", stock_path( stock ), class: "btn btn-xs btn-success" %></td>
        <td><%= link_to "Edit", edit_stock_path( stock ), class: "btn btn-xs btn-warning" %></td>
        <td><%= link_to "Destroy", stock_path( stock ), method: :delete, class: "btn btn-xs btn-danger", data: { confirm: "Are you sure?"} %></td>
        <% @buy_total += stock.quantity.to_i * stock.buy_price.to_i %>
        <% @sell_total += stock.quantity.to_i * stock.sell_price.to_i %>
      </tr>
    <% end %>
    <tr class="info">
      <td></td>
      <td>Total: <%= "#{ @quantity_total }" %></td>
      <td></td>
      <td>Total spent: <%= "#{ @buy_total }" %></td>
      <td>Total sold: <%= "#{ @sell_total }" %></td>
      <td></td>
      <td>Total profit: <%= "#{ @sell_total - @buy_total }" %></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>

<hr>
<%= link_to "Add Stock", new_stock_path, class: "btn btn-primary" %>
<%= link_to "Add Category", new_category_path, class: "btn btn-default" %>

