<h1>Add Stock</h1>

<%= form_for @stock do |f| %>

  Image: <br>
  <%= f.file_field :stck_img %><br>
  Name: <br>
  <%= f.text_field :name %><br>
  Quantity: <br>
  <%= f.number_field :quantity %><br>
  Buy Price: <br>
  <%= f.number_field :buy_price %><br>
  Sell Price: <br>
  <%= f.number_field :sell_price %><br>
  Store: <br>
  <%= f.collection_select :store_id, Store.all, :id, :name, {}, {multiple: false} %><br>
  Category: <br>
  <%= f.collection_select :category_id, Category.all, :id, :name, {}, {multiple: false} %><br>
  Subcategory: <br>
  <%= f.collection_select :subcategory_id, Subcategory.all, :id, :name, {}, {multiple: false} %><br><br>
  <%= f.submit "Submit" %>

<% end %>