<div class="row">

  <div class="col-md-7 .col-sm-7 .col-xs-7">

    <%= image_tag @stock.stck_img, class: "img-responsive img-thumbnail show-img" %><br><br>
    <div id="show-jumbo" class="jumbotron">
      <h3>
        <%= "#{ @stock.name }" %>
        <%= link_to like_stock_path( @stock ), method: :put, class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-heart"></span>
          <%= @stock.get_upvotes.size %>
        <% end %>
      </h3>
      <p>Quantity: <span class="badge"><%= "#{ @stock.quantity }" %></span></p>
      <p>Category: <%= "#{ @stock.category.name }" %></p>
      <p>Subcategory: <%= "#{ @subcategory.name }" %></p>
      <p>Purchase for: $<%= "#{ @stock.sell_price }" %></p>
      <hr>
      <p>
        Stocked by: <%= "#{ @stock.user.username } about #{ time_ago_in_words( @stock.created_at ) } ago" %>
      </p>
      <% if current_user %>
        <%= link_to 'Back', stocks_path, class: "btn btn-primary"  %>
        <%= link_to "Edit", edit_stock_path( @stock ), class: "btn btn-warning" %></td>
        <%= link_to "Destroy", stock_path( @stock ), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?"} %></td>
      <% else %>
        <%= link_to 'Back', stocks_path, class: "btn btn-primary"  %>
      <% end %>
    </div>

  </div>

  <div class="col-md-5 .col-sm-5 .col-xs-5">
    <div id="sidebar" class="jumbotron">
      <h2 class="text-center"><%= "#{ @stock.user.username } stockpile" %></h2><br>
      <% @stocks.each do | stock | %>
        <li><%= stock.name %></li>
      <% end %>
    </div>
  </div>

</div>

<!-- #{ @stock.store.name }, #{ @stock.user.location.state } -->