<div class="row">
  <div class="col-md-4 .col-sm-4 .col-xs-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= image_tag @stock.stck_img, class: "img-responsive img-thumbnail show-img" %><br>
      </div>
      <div class="panel-footer">
        <h3><%= "#{ @stock.name }" %></h3>
        <p>Quantity: <span class="badge"><%= "#{ @stock.quantity }" %></span></p>
        <p>Store: <%= "#{ @stock.store.name }, #{ @stock.user.location.state }" %></p>
        <p>Category: <%= "#{ @stock.category.name }" %></p>
        <p>Subcategory: <%= "#{ @subcategory.name }" %></p>
        <p>Purchase for: $<%= "#{ @stock.sell_price }" %>
          <a href="#" class="btn btn-sm btn-success">Buy</a>
        </p>
        <hr>
        <p>Stocked by: <%= "#{ @stock.user.username } about #{time_ago_in_words( @stock.created_at ) } ago" %></p>
      </div>
    </div>
    <%= link_to like_stock_path( @stock ), method: :put, class: "btn btn-default" do %>
      <span class="glyphicon glyphicon-heart"></span>
      <%= @stock.get_upvotes.size %>
    <% end %>
    <%= link_to 'Back', stocks_path, class: "btn btn-primary"  %>
  </div>
</div>