<div class="jumbotron">
  <h1 class="text-center">Welcome to StockPilin</h1>
  <h1 class="text-center"><small>A place for extreme couponers</small></h1>
  <div class="text-center">
    <%= link_to "Learn more", about_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-success" %>
  </div>
</div>

<hr>

<div class="row">

  <% @stocks.each do | stock | %>
    <div class="col-sm-3 col-md-3">
      <div class="box panel panel-default shadow">
        <div class="panel-heading panel-img">
          <%= image_tag stock.stck_img, class: "img-responsive index-img" %>
        </div>
        <div class="panel-body">
          <h3 class="listing-title"><%= "#{ stock.name }" %></h3>
          <p><%= "Quantity: #{ stock.quantity }" %></p>
          <p><%= link_to "View", stock_path( stock ), class: "btn btn-success" %></p>
        </div>
        <div class="panel-footer">
          <p>
            Stocked by: <%= "#{ stock.user.username }" %>
          </p>
        </div>
      </div>
    </div>
  <% end %>

</div>
